.game-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  color: #fef2bf;
  filter: drop-shadow(1px 3px 1px black);
  font-weight: bold;
}

body {
  background-color: #011f3f;
}

.box-pad {
  width: 200px;
  height: 200px;
  border: solid 10px black;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.victory {
    background-color: green;
    opacity: 0.8;
}
